<%= html_import_tag 'application'%>
<div style="position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%; overflow:auto; width:70%; height: 600px;">
<h1>gC Gaming Raid Application</h1>
<p>Login as an existing user or register as a new one</p>
<paper-input style="width: 30%;" label="Username" floatingLabel="Username"></paper-input> <br>
<paper-input-decorator style="width:30%"label="Password" floatingLabel="Password">
   <input id="password" is="core-input" type="password"/>
</paper-input-decorator><br>

<%= form_tag(method: "post") do %>
<paper-button raised id="my-button">
<%=link_to "Login", :controller => 'login', :action => 'login' %>
</paper-button>
<paper-button raised id="my-button">Register</paper-button>
<% end %>

</div>
